.jumbotron-hero {
	height: 500px;
	background-image: url(https://images.pexels.com/photos/1053536/pexels-photo-1053536.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

